# Mac OS
.DS_Store

# NPM
/node_modules
npm-*

# Testing
/.nyc_output
/coverage

# Build
/build
/dist
/.opt-in

# Generated translation files
/translations
/locale

# Other generated source
/src/generated

# Downloaded during "npm install"
/static/microbit

# for act
.secrets

# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
Packages
*.xcodeproj/project.xcworkspace/xcuserdata/
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock
*.xcworkspace

# Carthage
Carthage/Build/

# WebView & Scratch specific files
node_modules/
dist/
*.log
.env

# Exclude Personal Data
*.xcuserstate
UserInterfaceState.xcuserstate